{% extends '_base.html.twig' %}

{# ----------------------------------------- #}

{% block title %}
    New Reference Form
{% endblock %}

{# ----------------------------------------- #}

{% block body %}

    <h1>Create new reference</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {#<input type="submit" value="Create" />#}
    {{ form_end(form) }}


    {#{{ form_start(form) }}#}

    {#<div class="form-field">#}

        {#<div class="errors">#}
            {#{{ form_errors(form.name) }}#}
            {#{{ form_errors(form.reference) }}#}
            {#{{ form_errors(form.tag) }}#}
            {#{{ form_errors(form.textSummary) }}#}
        {#</div>#}

        {#{{ form_label(form.name) }}#}
        {#{{ form_widget(form.name) }}#}
        {#{{ form_label(form.reference) }}#}
        {#{{ form_widget(form.reference) }}#}
        {#{{ form_label(form.tag) }}#}
        {#{{ form_widget(form.tag) }}#}
        {#{{ form_label(form.textSummary) }}#}
        {#{{ form_widget(form.textSummary) }}#}

    {#</div>#}

    {#<div>#}
        {#{{ form_row(form.save) }}#}
    {#</div>#}

    {#{{ form_end(form) }}#}




    <a href="{{ path('showBibliography') }}">Back to list f references</a>

{% endblock %}

{# ----------------------------------------- #}

    {#{% for flash_message in app.session.flashBag.get('error') %}#}
    {#<div class = "flash-error">#}
        {#{{ flash_message }}#}
    {#</div>#}
{#{% endfor %}#}

    {#{% for flash_message in app.session.flashBag.get('notice') %}#}
        {#<div class = "flash-notice">#}
            {#{{ flash_message }}#}
        {#</div>#}
    {#{% endfor %}#}

    {#<form action="/Bibliography/processNewForm" method="POST">#}
        {#<p> Add Reference#}
        {#<p> <input type="text" name="name">#}
        {#<p>#}
        {#<input type = "submit" value="Create new reference">#}
    {#</form>#}


{# ----------------------------------------- #}



