{% extends '_base.html.twig' %}

{% block title %}
    Student index
{% endblock %}

    {% block link %}

    {% endblock %}
{% block Logout %}<li><a href="{{ path('logout') }}">Logout</a></li>{% endblock %}
{% block body %}

    <h1>Student HOME PAGE</h1>
    <p>Welcome to the Student home page</p>

    <a href="{{ path('refColls') }}">Reference Collections</a>

    {#<a href="{{ path('showBibliography') }}">Repository</a>#}
    {#<a href="{{ path('loginSymf') }}">Student Login</a></li>#}
    {#<a href="{{ path('login') }}">Lecturer Login</a>#}

{% endblock %}