{% extends '_base.html.twig' %}

{% block body %}
    <h1>Maths</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Reference</th>
            <th>Tag</th>
            <th>Textsummary</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for math in maths %}
            <tr>
                {#<td class ="idTag"><a href="{{ path('studentref2_show', { 'id': studentRef2.id }) }}">{{ studentRef2.id }}</a></td>#}
                <td>{{ math.name }}</td>
                <td>{{ math.reference }}</td>
                <td>{{ math.tag }}</td>
                <td>{{ math.textSummary }}</td>
                <td>
                    <ul>
                        <li>
                            {#<a href="{{ path('studentref2_show', { 'id': studentRef2.id }) }}">show</a>#}
                        </li>
                        <li>
                            {#<a href="{{ path('studentref2_edit', { 'id': studentRef2.id }) }}">edit</a>#}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('refColls') }}">Reference Collections</a>
    <ul>
        <li>
            {#<a href="{{ path('studentref2_new') }}">Create a new Student Reference</a>#}
        </li>
    </ul>
{% endblock %}