{% extends '_base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lec in lecturer %}
            <tr>
                <td><a href="{{ path('lecturer_show', { 'id': lecturer.id }) }}">{{ lecturer.id }}</a></td>
                <td>{{ lecturer.username }}</td>
                <td>{{ lecturer.password }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lecturer_show', { 'id': lecturer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lecturer_edit', { 'id': lecturer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lecturer_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
