{% extends '_base.html.twig' %}

{% block body %}
    <h1>Lecturer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lecturer.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ lecturer.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ lecturer.password }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lecturer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lecturer_edit', { 'id': lecturer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
